[submodule "Drivers/STM32F2xx_HAL_Driver"]
	path = Drivers/STM32F2xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32f2xx_hal_driver.git
	branch = master
[submodule "Drivers/CMSIS/Device/ST/STM32F2xx"]
	path = Drivers/CMSIS/Device/ST/STM32F2xx
	url = https://github.com/STMicroelectronics/cmsis_device_f2.git
	branch = master
