[submodule "Drivers/STM32F2xx_HAL_Driver"]
	path = Drivers/STM32F2xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32f2xx_hal_driver.git
	branch = master
[submodule "Drivers/CMSIS/Device/ST/STM32F2xx"]
	path = Drivers/CMSIS/Device/ST/STM32F2xx
	url = https://github.com/STMicroelectronics/cmsis_device_f2.git
	branch = master
[submodule "Drivers/BSP/STM32F2xx_Nucleo_144"]
	path = Drivers/BSP/STM32F2xx_Nucleo_144
	url = https://github.com/STMicroelectronics/stm32f2xx-nucleo-144-bsp.git
	branch = main
[submodule "Drivers/BSP/STM322xG_EVAL"]
	path = Drivers/BSP/STM322xG_EVAL
	url = https://github.com/STMicroelectronics/stm322xg-eval-bsp.git
	branch = main
[submodule "Drivers/BSP/Components/Common"]
	path = Drivers/BSP/Components/Common
	url = https://github.com/STMicroelectronics/stm32-bsp-common.git
	branch = main
[submodule "Drivers/BSP/Components/cs43l22"]
	path = Drivers/BSP/Components/cs43l22
	url = https://github.com/STMicroelectronics/stm32-cs43l22.git
	branch = main
[submodule "Drivers/BSP/Components/ili9320"]
	path = Drivers/BSP/Components/ili9320
	url = https://github.com/STMicroelectronics/stm32-ili9320.git
	branch = main
[submodule "Drivers/BSP/Components/ili9325"]
	path = Drivers/BSP/Components/ili9325
	url = https://github.com/STMicroelectronics/stm32-ili9325.git
	branch = main
[submodule "Drivers/BSP/Components/ili9341"]
	path = Drivers/BSP/Components/ili9341
	url = https://github.com/STMicroelectronics/stm32-ili9341.git
	branch = main
[submodule "Drivers/BSP/Components/ov2640"]
	path = Drivers/BSP/Components/ov2640
	url = https://github.com/STMicroelectronics/stm32-ov2640.git
	branch = main
[submodule "Drivers/BSP/Components/st7735"]
	path = Drivers/BSP/Components/st7735
	url = https://github.com/STMicroelectronics/stm32-st7735.git
	branch = main
[submodule "Drivers/BSP/Components/stmpe811"]
	path = Drivers/BSP/Components/stmpe811
	url = https://github.com/STMicroelectronics/stm32-stmpe811
	branch = main
